@import '../animations';

.export-and-share {
  transform: translateY(100%);
  animation: popUp 1s ease-out forwards;
}

.file-formats {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jpg,
.pdf,
.txt,
.arrow {
  position: relative;
}

.arrow {
  animation-delay: 1s;
  left: 15px;
  bottom: -35px;
}

.pdf {
  animation-delay: 1.15s;
}

.jpg {
  animation-delay: 1.3s;
  top: -25px;
}

.txt {
  animation-delay: 1.45s;
}

.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  100% {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
