@import '../animations';

.export-and-share {
  transform: translateY(100%);
  animation: popUp 1s ease-out forwards;
}

.page-content__image {
  position: relative;
}

.file-formats {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  animation-delay: 1s;
  left: 15px;
  bottom: -35px;
}

.pdf {
  animation-delay: 1.15s;
}

.jpg {
  animation-delay: 1.3s;
  top: -25px;
}

.txt {
  animation-delay: 1.45s;
}

// !!---

.jpg,
.pdf,
.txt,
.arrow {
  position: relative;
  //   transform-origin: bottom center;
  //   transform: translateY(100%) scale(0.5) rotate(-30deg);
  //   animation: popUpCurve 1s ease-out forwards;
}

// @keyframes popUpCurve {
//   0% {
//     transform: translateX(100%) translateY(100%) scale(0) rotate(-30deg);
//   }
//   50% {
//     transform: translateX(-10%) translateY(-10%) scale(1) rotate(15deg);
//   }
//   100% {
//     transform: translateX(0) translateY(0) scale(1) rotate(0);
//   }
// }

// ------
// .jpg,
// .pdf,
// .txt,
// .arrow {
//   position: relative;
//   transform-origin: bottom center;
//   transform: translateY(100%) scale(0.5) rotate(-30deg);
//   animation: popUpCurve 1s ease-out forwards;
// }

// @keyframes popUpCurve {
//   0% {
//     opacity: 0;
//     transform: translateY(100%) scale(0.5) rotate(-30deg);
//   }
//   50% {
//     opacity: 1;
//     transform: translateY(-10%) scale(1) rotate(15deg);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0) scale(1) rotate(0);
//   }
// }

// !!! ------

.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  100% {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
