@import '../animations';

.sign-and-stamp {
  transform: translateY(100%);
  animation: popUp 1s ease-out forwards;
}

.sign-and-stamp--overlay {
  position: absolute;
  animation: fadeIn 0.5s ease-out forwards;
  opacity: 0;

  &.sign {
    bottom: 83px;
    right: 60px;
    animation-delay: 1s;
  }

  &.stamp {
    bottom: 155px;
    left: 50px;
    animation-delay: 1.25s;
  }
}

@media (max-width: 768px) {
  .sign-and-stamp--overlay.sign,
  .sign-and-stamp--overlay.stamp {
    transform: scale(0.7);
    // transform-origin: bottom center;
  }
}
