@import '../animations';

.batch-scanning {
  transform: translateY(100%);
  animation: popUp 1s ease-out forwards;
}

.batch-scanning__file {
  position: absolute;
  z-index: 1;
  transform: translateY(100%);

  &.file1 {
    z-index: 1;
    bottom: 0;
    animation: popUp 1s ease-out forwards;
    animation-delay: 1s;
  }

  &.file2 {
    z-index: 2;
    bottom: -20px;
    animation: popUp 1s ease-out forwards;
    animation-delay: 1.5s;
  }

  &.file3 {
    z-index: 3;
    bottom: -40px;
    animation: popUp 1s ease-out forwards;
    animation-delay: 2s;
  }
}
